
@import 'mixins2';
// Colors

$primary : 	#a32020;
$secondary: #d93954;
$darkGray: #464646;
$darkerGray: #2d2d2d;
$lightGray: #9b9b9b;
$lighterGray: #e7e7e7;
$lightGray2X: #F8F8F8;
$black: #000;
$white: #fff;


@font-face {
    font-family: 'Charter_ITC';
    src: url('../fonts/Charter_woff/CharterITCStd-Regular.woff') format('woff'),
        url('../fonts/Charter_otf/CharterITCStd-Regular.otf') format('otf');
}

@font-face {
    font-family: 'Arial_Regular';
    src: url('../fonts/Arial_ttf/Arial.ttf') format('ttf');
}

$fontPrimary: 'Charter_ITC', Georgia, serif;
$fontSecondary: 'Arial_Regular', Arial, Helvetica, sans-serif;


// @font-face {
// 	font-family: 'KPMG-Light';
// 	src: url('../fonts/KPMG-Extralight.woff');
// }

// @font-face {
// 	font-family: 'Univers-bold';
// 	src: url('../fonts/UniversforKPMG-Bold.ttf');
// }

// @font-face {
// 	font-family: 'Univers-light';
// 	src: url('../fonts/UniversforKPMG-Light.ttf');
// }


*{
    box-sizing: border-box !important;
    // border: 1px solid #000;
}


html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
	box-sizing: border-box;	
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html,
body {
	height: 100%;
	font-family: $fontSecondary;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

p{
	line-height: 1.25;
	font-size: 1rem;
	font-family: $fontSecondary;
	color: $darkGray;
}


:root{
	font-size: 100%;

	@include mqMax(1366px){
		font-size: 90%;
	}
}


.container{
	@include mqMax(992px){
		max-width: 100% !important;
	}
}

.link-button{
	border-radius: 0;
	border: 1px solid $lightGray;
	color: $darkGray;
	background-color: $white;
	padding: 0.725rem 1rem ;
	margin-top: 1.5rem;
	font-weight: bold;
	text-align: left;
	@include transition(.3s);

	svg{
		width: 0.5rem;
		margin-left: 1rem;
		
		path{
			@include transition(.3s);
		}
	}

	&:hover{
		color: #fff;
		background-color: $darkGray;
		border-color: $darkGray;

		svg{
			path{
				stroke:#fff
			}
		}
	}
}



// ScrollBar

.scrollBar{
	@include mqIE(){
		scrollbar-base-color:rgba(0,0,0,0);
		scrollbar-face-color:rgba(0,0,0,0);
		scrollbar-face-color:rgba(0,0,0,0);	
		scrollbar-3dlight-color:rgba(0,0,0,0);
		scrollbar-highlight-color:rgba(0,0,0,0);
		scrollbar-track-color:rgba(0,0,0,0);
		scrollbar-arrow-color:rgba(0,0,0,0);
		scrollbar-shadow-color:rgba(0,0,0,0);
		scrollbar-width: thin;

	}
}

.scrollBar::-webkit-scrollbar-track
{
	-webkit-box-shadow: none;
				box-shadow: none;
				background-color:rgba(0,0,0,0);

	&:hover{
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
				box-shadow: inset 0 0 6px rgba(0,0,0,0);
				background-color: rgba(0,0,0,0);
	}
}

.scrollBar::-webkit-scrollbar
{
	width: 5px;
	background-color: tra;

	&:hover{
		background-color: rgba(0,0,0,0.3);
	}

	
}

.scrollBar::-webkit-scrollbar-thumb
{
	background-color: rgba(0,0,0,0.7);
	// border: 2px solid #555555;
    border-radius: 3px;
}